.box_outer{
	text-align: center;
	width:96%;
	//height:98%;
	float:left;
	border:2px solid grey;
	//padding-top: :20%;
	margin:10px 10px 10px 10px;	
	margin-left: 2%;
	margin-top: 0%
	
}

.box_1{
width:95%;
//border:1px solid blue;
padding:2%;
//margin-left: 15%;
//margin-top: 10%;

}
.button{
border-width:3px; 
border-radius: 20px;
padding: 2%;
margin: 1%;
float:left;
background-color: red;
width: 48%;
height: 18%;
font-size: 150%;
}


